<template name="views_modals_makePassword">
    <form>
        <h1>{{i18n "wallet.modals.makePassword.title"}}</h1>
        <p>{{i18n "wallet.modals.makePassword.text"}}</p>
        <input class="password" type="password" placeholder="Enter password" required autofocus />
        <input class="passwordRepeat" type="password" placeholder="Repeat password" required />
        <div class="errors" style="color: red; margin-top: 10px">{{errors}}</div>
        <div class="dapp-modal-buttons">
            <button type="submit">Create</button>
        </div>
    </form>
</template>
