<template name="brave_payments_notice">
    <div class="brave-payments-notice">
        <p>Your Brave Wallet is used to contribute Basic Attention Tokens to creators and sites you appreciate. Would you like to enable Brave Payments and transfer ETH to your Brave Wallet? </p>
        <p>
            Learn more <a href="https://brave.com/faq-payments/#what-is-brave-payments">here</a> and please note that your Brave Wallet is uni-directional. ETH that you transfer to it will be converted to BAT and can only be spent on creator contributions.
        </p>
        <button>Enable Brave Payments</button>
    </div>
</template>
